<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Landing Page</a>
    <!-- <a class="btn btn-primary" href="#">Sign In</a> -->
    <%= link_to '<button class="btn btn-primary">Sign In</button>'.html_safe, sign_sign_in_url %>
  </div>
</nav>
